<!DOCTYPE html> 
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'> 
  <head>
    <title>Coming Soon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      p {
        width: 30em;
        margin: 10em auto;
        font-family: Gotham, 'Bitstream Vera Sans', Whitney, Verdana, Arial, sans-serif;
        text-align: center;
        font-weight: 325;
      }
    </style>
  </head>
  <body>
    <p>This web site is coming soon. Thank you for your patience.</p>
  </body>
</html>
